<head>
	<title>
		{{ if .IsHome }}{{ .Site.Title}}
		{{ else }}{{ .Site.Title}} - {{ .Page.Title }}
		{{end}}
	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link rel="icon" href="/favicon.ico"><!-- 32×32 -->
	<link rel="icon" href="/nhp.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
	<link rel="manifest" href="/manifest.webmanifest">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
	<script src="https://kit.fontawesome.com/d8141625cf.js" crossorigin="anonymous"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script data-ad-client="ca-pub-4616696454956401" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	{{ if .IsHome}}
	<meta property="og:image" content="/ogimage.jpg" />
	<meta property="og:description" content="Showcase / Mods Log by Vietnamese Modder Nhenhophach - Amberspider" />
	{{ else }}
	{{ end }}
</head>