{{ define "main" }}

<div class="archive">
  <h1>{{.Title}}</h1>
  <hr class="hrx">
</div>

<!-- <ul class="archive-list">
{{ range ( where .Site.RegularPages "Type" "posts" ) }}
<li>
  {{ .Date.Format "Jan 02, 2006" }} _ 
  <a href="{{.Permalink}}">
    {{.Title}}
  </a>
</li>
{{end}}
</ul>
 -->
<table class="archive-list">
{{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "posts" ) }}
	<tr>
		<td class="archive-list-td archive-list-date">{{ .Date.Format "Jan 02, 2006" }} - </td>
		<td class="archive-list-td"><a href="{{.Permalink}}">{{.Title}}</a></td>
	</tr>
{{end}}
</table>

<div class="subtopper">
	<hr class="hrx">
</div>
{{ end }}