{{ define "main"}}
{{ partial "facebook_script.html" . }}
{{- partial "subtopper.html" . -}}
<!-- Post -->
<!-- <div class="post-poster">
	{{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}
</div> -->
{{ if eq .Params.youtube_id 0 }}
{{ if eq .Params.featured_image 0 }}
<div class="post-poster">
	<br>
</div>
{{ else }}
<div class="post-poster">
	<img src="{{ .Permalink }}{{ with .Params.featured_image }}{{ . }}{{ end }}">
</div>
{{end}}
{{ else }}
<div class="post-poster">
	{{ partial "youtube.html" .}}
</div>
{{ end }}
<div class="post-date">
	{{ .Date.Format "Jan 2, 2006" }}
	<hr class="hrx">
	<p>
		<a href="#fcomments"><i class="fas fa-comment-alt"></i> <b><span class="fb-comments-count" data-href="{{ .Permalink }}"></span>comments</b></a>
</div>
<div class="post-title">
	<h2>{{.Title}}</h2>
	<div class="content-left">
		<h3>
			<li>
				{{ partial "socialshare.html" . }}
			</li>
		</h3>
	</div>
	<p>
		{{ partial "tags.html" . }}
	</p>
</div>
<div class="post-content-single">
	<p>
		{{ .Content }}
	</p>
		{{ partial "thealbum.html" . }}
	<hr class="hrx">
</div>
<div class="content-left">
	<h3>Comments</h3>
</div>
<div class="content-right">
	<h3>
		<li>
			{{ partial "socialshare.html" . }}
		</li>
	</h3>
</div>
<div class="post-content-single" id="fcomments">
		{{ partial "facebook_comments.html" . }}
</div>
<!-- End Post -->
	
{{end}}