{{ define "main"}}

	{{- partial "subtopper.html" . -}}
	<div class="container"
		data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "hideNav": ".pagination" }'	
	>
	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

	{{ range $paginator.Pages }}

	{{ .Render "summary"}}

	{{end}}
	</div>
	{{ partial "pagination" . }}
	<script type='text/javascript'>
	(function()
	{
	  if( window.localStorage )
	  {
	    if( !localStorage.getItem('firstLoad') )
	    {
	      localStorage['firstLoad'] = true;
	      window.location.reload();
	    }  
	    else
	      localStorage.removeItem('firstLoad');
	  }
	})();
	</script>
{{end}}