<div class="logo">
		<a href="{{ "./" | relURL }}">
			<img src="{{ "/NhenLogo.svg" | relURL }}"/>
		</a>
</div>
<ul class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/about">Bio</a></li>
	<li><a href="/archive">Arc</a></li>
	<li><a href="https://www.youtube.com/c/ModdingCafeTV" target="_blank">
		<i class="fab fa-youtube-square"></i> Yt
	</a></li>
	<li><a href="https://www.facebook.com/nhenhophachfp" target="_blank">
		<i class="fab fa-facebook-square"></i> Fb
	</a></li>
	<li><a href="http://instagram.com/nhenhophach/" target="_blank">
		<i class="fab fa-instagram-square"></i> Ig
	</a></li>
</ul>